<h1>Create a new article</h1>
<%= render 'articles/error_msgs' %>
<%= render 'articles/form' %>
<p>
  <%= link_to 'Cancel and return to articles list' , articles_path(@article.id), data: { turbo_method: :index } %>
</p>
