<header class ="container group">
  <div class= "myjumbotron">
    <div class="myhero">Alpha Blog</div>
    <div class="myhero-sm motto">You Say It.<br>We Spray It.</div>
  </div>
</header>












