<!-- Add display of flash messages, if there are any -->
<div class="container">
  <% flash.each do |type, msg| %>
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
      &#8505;<%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>
